<style>

  #blog1 img,
  #blog2 img{
	float: left;
  }

  div#blog1 p,
  div#blog2 p{
	opacity: 0;
	padding: 10px;
  }

  strong{
	opacity: 0;
  }

  div#blog1:hover p,
  div#blog2:hover p,
  strong{
	opacity: 1;
	text-shadow: 0 2px 6px rgba(0,0,0,0.4);
  }

  div#blog1:hover,
  div#blog2:hover{
	border-right: 1px solid #ccc;
/*        border-bottom: 1px solid #ccc;*/
  }

  strong{
	text-align: center;
	font-size: 1.6em;
	background-color: #FCBC51;
  }

</style>
